*{
  margin: 0;
}
#para{
  color: red;
  font-size: 20px;
  padding: 10px;
}
.secPara{
  color: blue;
  font-size: 30px;
}
p{
  color: green;
}
p.secPara{
  color: aqua;
}
span.secPara{
  display: block;
  color: brown;
  border: 1px solid red;
  margin: 5px 20px ;
  padding: 10px;
}
span:first-child{
  margin-bottom: 5px;
}
/* h1{
  color: red;
}
p{
  color: red;
}
span{
  color: red;
} */
/* h1,p,span{
  color: red;
} */

/* p:first-child{
  color: red;
}
p:nth-child(5){
  color: blue;
}
p:nth-child(even){
  color: orange;
}
p:nth-child(odd){
  color: green;
}
p:hover{
  color: blueviolet;
}
p::first-letter{
  color: blue;
  font-size: 50px;
}
:not(p){
  color: aqua;
} */
/* .one.two{
  color: red;
} */
/* .divClass > p{ 
  color: red;
} */

p + span{
  color: orange;
}
h1+p{
  color: red;
}
/* h1{
  background-color: red;
  color: blue;
  opacity: 0.3;
  width: 200px;
} */
h1:hover{
  opacity: 1;
  transition: 5s;
}
p{
  /* border: 1px solid red; */
  margin: 10px;
  padding: 20px;
  /* border-radius: 20px; */
}
/* div{
  background-color: yellow;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
} */
.no-box-size{
  width: 300px;
  padding: 20px;
  margin: 20px;
}
.box-size{
  width: 300px;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  border: 2px solid yellow;
  outline: 5px solid red;
}
.text-align{
  text-align:start;
  background-color: white;
  width: 100%;
  opacity: 1;
  /* direction : rtl; */
  text-decoration: underline;
  text-decoration-color: yellow;
}
a{
  text-decoration : none;
  text-transform: capitalize;
}
.text-indent{
  text-indent: 100px;
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 1.8;
}
.text-shadow{
   text-shadow: 5px 5px 5px red;
   cursor: move;
}
ul{
  /* list-style-type: none; */
  /* list-style-image: url(firstimage.jpg); */
}
.position{
  border: 1px solid red;
  position: relative;
}
.relative{
  position: relative;
  background-color: red;
  top: 20px;
  right: 5px;
  z-index: 2;
}
.absolute{
  position : absolute;
  background-color: yellow;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}
.fixed{
  position: fixed;
  bottom: 100px;
  left: 500px;
  background-color: blue;
  z-index: 5;
}
.sticky{
  position: sticky;
  bottom: 30px;
  width: 200px;
  left: 100px;
  background-color: pink;
}